.header {
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 0 41px 0;
  border-bottom: 1px solid #545454b3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 919px) {
  .header {
    /* padding: 45px 27px 41px 27px; */
    padding: 31px 0 41px 0;
  }
}

@media screen and (max-width: 560px) {
  .header {
      flex-wrap: wrap-reverse;
      padding-bottom: 30px;
  }
}

@media screen and (max-width: 424px) {
  .header {
    padding: 28px 0 32px 0;
  }
}