.profile__info {
  margin: auto auto auto 0;
  display: grid;
  grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
  grid-gap: 0 0;
  grid-template-areas:
      'title edit-button'
      'description .';
}

@media screen and (max-width: 767px) {
  .profile__info {
    margin: 0 auto;
    width: auto;
    padding-left: 36px;
    padding-top: 22px;
  }
}